*~
*.pdf
*.png
*.log
log*
*.root
*.o
*.so
*.om
*.d
*.ah
*.optrpt
*.gdb_history
main
main-mic
auto-matriplex
mkFit/mkFit
mkFit/mkFit-mic
mkFit/auto-genmplex
mkFit/auto-matriplex
.*swp
.*swo
slurm-[0-9]*.out
/.ptp-sync/
